workflows/02-chunked-upload-large-files.json
{
  "name": "02 - Chunked Upload for Large Files (Cloudflare Safe)",
  "nodes": [
    {
      "parameters": { "content": "## Chunked Upload for Large Files\n\nDemonstrates the 3-step chunked upload API for files over 50MB.\nRequired when running behind Cloudflare Tunnels (100MB request limit).\n\n**API Features Used:**\n- `POST /api/v1/uploads` \u2014 initiate chunked session\n- `POST /api/v1/uploads/{id}/chunks` \u2014 upload 50MB chunks\n- `POST /api/v1/uploads/{id}/complete` \u2014 reassemble & start job\n- `GET /api/v1/jobs/{id}` \u2014 poll status\n- `GET /api/v1/jobs/{id}/files/{name}` \u2014 download results\n\n**How it works:**\n1. Code node splits file into 50MB chunks\n2. Performs the entire chunked upload (initiate, upload chunks, complete) in one step\n3. Outputs job_id for the polling loop\n4. Poll for completion, return results\n\n**Max file size:** 10GB (200 chunks x 50MB)", "color": 4, "width": 420, "height": 400 },
      "id": "note-overview", "name": "Overview", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [200, 50]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chunked-transcribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook", "name": "Receive Large File", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [200, 500],
      "notes": "For files > 50MB. Binary data will be split and uploaded as chunks."
    },
    {
      "parameters": {
        "jsCode": "// Chunked upload: split file, initiate upload, upload all chunks, complete, return job_id\nconst CHUNK_SIZE = 50 * 1024 * 1024; // 50MB\nconst binary = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst totalChunks = Math.ceil(binary.length / CHUNK_SIZE);\nconst filename = $input.item.json.body?.filename || 'upload.mp4';\nconst model = $input.item.json.body?.model || 'small';\nconst baseUrl = $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com';\n\n// Step 1: Initiate chunked upload\nconst initResponse = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${baseUrl}/api/v1/uploads`,\n  body: {\n    filename: filename,\n    total_chunks: totalChunks,\n    total_size_mb: Math.round(binary.length / 1024 / 1024 * 100) / 100,\n    model: model,\n    speaker_diarization: 'true'\n  },\n  json: true\n});\n\nconst uploadId = initResponse.upload_id;\n\n// Step 2: Upload each chunk\nfor (let i = 0; i < totalChunks; i++) {\n  const start = i * CHUNK_SIZE;\n  const end = Math.min(start + CHUNK_SIZE, binary.length);\n  const chunkBuffer = binary.slice(start, end);\n\n  const formData = new FormData();\n  formData.append('chunk_index', String(i));\n  formData.append('chunk', new Blob([chunkBuffer]), `chunk_${i}`);\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${baseUrl}/api/v1/uploads/${uploadId}/chunks`,\n    body: formData,\n    headers: { 'Content-Type': 'multipart/form-data' },\n    timeout: 60000\n  });\n}\n\n// Step 3: Complete the upload\nconst completeResponse = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${baseUrl}/api/v1/uploads/${uploadId}/complete`,\n  json: true,\n  timeout: 30000\n});\n\nreturn [{\n  json: {\n    job_id: completeResponse.job_id,\n    upload_id: uploadId,\n    total_chunks: totalChunks,\n    file_size_mb: Math.round(binary.length / 1024 / 1024 * 100) / 100\n  }\n}];"
      },
      "id": "chunked-upload", "name": "Chunked Upload (Initiate + Upload + Complete)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [450, 500]
    },
    {
      "parameters": { "content": "## Chunked Upload Code Node\n\nThe Code node handles the entire chunked upload in one step:\n1. Splits file into 50MB chunks\n2. `POST /api/v1/uploads` \u2014 initiate session\n3. `POST /api/v1/uploads/{id}/chunks` \u2014 upload each chunk\n4. `POST /api/v1/uploads/{id}/complete` \u2014 reassemble & start\n\nThis avoids n8n item-iteration issues where only the first\nchunk would go to initiate but all need the upload_id.\n\nChunk endpoint is rate-limit exempt for streaming.", "color": 6, "width": 320, "height": 230 },
      "id": "note-chunks", "name": "Chunk Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [430, 250]
    },
    {
      "parameters": {
        "values": { "number": [{ "name": "pollCount", "value": 0 }], "string": [{ "name": "jobId", "value": "={{ $json.job_id || '' }}" }] },
        "options": {}
      },
      "id": "init-poll", "name": "Init Poll", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [700, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $('Init Poll').item.json.jobId }}",
        "options": { "timeout": 10000 }
      },
      "id": "poll", "name": "Poll Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [950, 500],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000
    },
    {
      "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.status }}", "rightValue": "completed", "operator": { "type": "string", "operation": "equals" } }] } },
      "id": "done", "name": "Done?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1200, 500]
    },
    {
      "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.status }}", "rightValue": "failed", "operator": { "type": "string", "operation": "equals" } }] } },
      "id": "failed", "name": "Failed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1200, 750]
    },
    {
      "parameters": {
        "values": {
          "number": [{ "name": "pollCount", "value": "={{ ($('Inc').item?.json?.pollCount ?? $('Init Poll').item.json.pollCount ?? 0) + 1 }}" }],
          "string": [{ "name": "jobId", "value": "={{ $('Init Poll').item.json.jobId }}" }]
        },
        "options": {}
      },
      "id": "inc", "name": "Inc", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1450, 750]
    },
    {
      "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.pollCount }}", "rightValue": 120, "operator": { "type": "number", "operation": "lt" } }] } },
      "id": "limit", "name": "< 10min?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1700, 750]
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "wait", "name": "Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1950, 700]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'completed', job_id: $('Init Poll').item.json.jobId, file_size_mb: $('Chunked Upload (Initiate + Upload + Complete)').item.json.file_size_mb, files: $('Poll Status').item.json.output_files }) }}" },
      "id": "respond-ok", "name": "Return Results", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1450, 500]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Failed or timed out' }) }}", "options": { "responseCode": 500 } },
      "id": "respond-err", "name": "Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1950, 900]
    }
  ],
  "connections": {
    "Receive Large File": { "main": [[{ "node": "Chunked Upload (Initiate + Upload + Complete)", "type": "main", "index": 0 }]] },
    "Chunked Upload (Initiate + Upload + Complete)": { "main": [[{ "node": "Init Poll", "type": "main", "index": 0 }]] },
    "Init Poll": { "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]] },
    "Poll Status": { "main": [[{ "node": "Done?", "type": "main", "index": 0 }]] },
    "Done?": { "main": [[{ "node": "Return Results", "type": "main", "index": 0 }], [{ "node": "Failed?", "type": "main", "index": 0 }]] },
    "Failed?": { "main": [[{ "node": "Error", "type": "main", "index": 0 }], [{ "node": "Inc", "type": "main", "index": 0 }]] },
    "Inc": { "main": [[{ "node": "< 10min?", "type": "main", "index": 0 }]] },
    "< 10min?": { "main": [[{ "node": "Wait", "type": "main", "index": 0 }], [{ "node": "Error", "type": "main", "index": 0 }]] },
    "Wait": { "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Demonstrates the 3-step chunked upload API for large files (>50MB). A single Code node splits the file into 50MB chunks, initiates the upload session, uploads all chunks, and completes the upload. Supports files up to 10GB (200 chunks).", "templateCredsSetupCompleted": true },
  "tags": [{ "name": "transcription" }, { "name": "chunked-upload" }, { "name": "large-files" }]
}