workflows/03-meeting-minutes-with-speakers.json
{
  "name": "03 - Meeting Minutes with Named Speakers",
  "nodes": [
    {
      "parameters": { "content": "## Meeting Minutes with Named Speakers\n\nTranscribes a meeting recording with named speaker detection,\nthen uses an LLM to generate structured meeting minutes.\n\n**API Features Used:**\n- `speaker_diarization=true` \u2014 ECAPA-TDNN speaker clustering\n- `speaker_names=Alice,Bob,Charlie` \u2014 map SPEAKER_00/01/02 to names\n- `model=medium` \u2014 highest quality for meetings\n- WebVTT output with `<v Alice>` voice tags\n\n**LLM generates:**\n- Attendee list (from speaker names)\n- Key discussion points\n- Action items with owner\n- Decisions made\n\n**Setup:**\n1. Set `TRANSCRIPTION_API_URL` env var\n2. Configure LLM credentials (OpenAI/Ollama/Anthropic)\n3. POST meeting recording with `speaker_names` in form body\n\n**Note:** The LLM node (`@n8n/n8n-nodes-langchain.openAi`) requires\nthe n8n AI nodes package (`@n8n/n8n-nodes-langchain`). Install it\nvia Settings > Community Nodes if not already available.", "color": 4, "width": 420, "height": 500 },
      "id": "note", "name": "Overview", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [200, 30]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "meeting-minutes", "responseMode": "responseNode", "options": {} },
      "id": "webhook", "name": "Receive Meeting Recording", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [200, 560],
      "notes": "POST with: file, speaker_names='Alice,Bob,Charlie', num_speakers=3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "parameterType": "formBinaryData", "name": "files", "inputDataFieldName": "data" },
            { "name": "model", "value": "medium" },
            { "name": "language", "value": "en" },
            { "name": "speaker_diarization", "value": "true" },
            { "name": "speaker_names", "value": "={{ $json.body?.speaker_names || '' }}" },
            { "name": "num_speakers", "value": "={{ $json.body?.num_speakers || '' }}" }
          ]
        },
        "sendBinaryData": false,
        "options": { "timeout": 30000 }
      },
      "id": "upload", "name": "Transcribe with Named Speakers", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [450, 560],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000
    },
    {
      "parameters": { "values": { "number": [{ "name": "pollCount", "value": 0 }], "string": [{ "name": "jobId", "value": "={{ $json.jobs?.[0]?.job_id || '' }}" }] }, "options": {} },
      "id": "init", "name": "Init", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [700, 560]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $('Init').item.json.jobId }}",
        "options": { "timeout": 10000 }
      },
      "id": "poll", "name": "Poll", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [950, 560],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000
    },
    {
      "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.status }}", "rightValue": "completed", "operator": { "type": "string", "operation": "equals" } }] } },
      "id": "done", "name": "Done?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1200, 560]
    },
    {
      "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.status }}", "rightValue": "failed", "operator": { "type": "string", "operation": "equals" } }] } },
      "id": "failed", "name": "Failed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1200, 810]
    },
    {
      "parameters": {
        "values": {
          "number": [{ "name": "pollCount", "value": "={{ ($('Inc').item?.json?.pollCount ?? $('Init').item.json.pollCount ?? 0) + 1 }}" }],
          "string": [{ "name": "jobId", "value": "={{ $('Init').item.json.jobId }}" }]
        },
        "options": {}
      },
      "id": "inc", "name": "Inc", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1450, 810]
    },
    {
      "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.pollCount }}", "rightValue": 120, "operator": { "type": "number", "operation": "lt" } }] } },
      "id": "limit", "name": "< 10min?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1700, 810]
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "wait", "name": "Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1950, 760]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $('Init').item.json.jobId }}/files/{{ $('Poll').item.json.output_files?.[0]?.name || 'output.vtt' }}",
        "options": { "timeout": 30000, "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "dl-vtt", "name": "Download VTT with Speaker Names", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1450, 560],
      "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": { "values": [
          { "content": "You are a meeting minutes assistant. Given a WebVTT transcript with named speaker labels (e.g. <v Alice>, <v Bob>), produce structured meeting minutes:\n\n1. **Meeting Title** (infer from content)\n2. **Attendees** (from speaker voice tags)\n3. **Key Discussion Points** (bulleted)\n4. **Action Items** (with owner name from speaker tags)\n5. **Decisions Made**\n\nUse the actual speaker names from the VTT tags. Keep it concise and professional." },
          { "content": "=Generate meeting minutes from this transcript:\n\n{{ $json.data }}" }
        ] },
        "options": {}
      },
      "id": "llm", "name": "Generate Meeting Minutes (LLM)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [1700, 560],
      "notes": "Replace with Ollama at 192.168.50.164:11434 for local LLM processing. Requires @n8n/n8n-nodes-langchain package."
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'completed', meeting_minutes: $json.text, vtt_preview: $('Download VTT with Speaker Names').item.json.data?.substring(0, 1000) }) }}" },
      "id": "respond", "name": "Return Minutes", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1950, 560]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Transcription failed or timed out' }) }}", "options": { "responseCode": 500 } },
      "id": "err", "name": "Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1950, 960]
    }
  ],
  "connections": {
    "Receive Meeting Recording": { "main": [[{ "node": "Transcribe with Named Speakers", "type": "main", "index": 0 }]] },
    "Transcribe with Named Speakers": { "main": [[{ "node": "Init", "type": "main", "index": 0 }]] },
    "Init": { "main": [[{ "node": "Poll", "type": "main", "index": 0 }]] },
    "Poll": { "main": [[{ "node": "Done?", "type": "main", "index": 0 }]] },
    "Done?": { "main": [[{ "node": "Download VTT with Speaker Names", "type": "main", "index": 0 }], [{ "node": "Failed?", "type": "main", "index": 0 }]] },
    "Failed?": { "main": [[{ "node": "Error", "type": "main", "index": 0 }], [{ "node": "Inc", "type": "main", "index": 0 }]] },
    "Inc": { "main": [[{ "node": "< 10min?", "type": "main", "index": 0 }]] },
    "< 10min?": { "main": [[{ "node": "Wait", "type": "main", "index": 0 }], [{ "node": "Error", "type": "main", "index": 0 }]] },
    "Wait": { "main": [[{ "node": "Poll", "type": "main", "index": 0 }]] },
    "Download VTT with Speaker Names": { "main": [[{ "node": "Generate Meeting Minutes (LLM)", "type": "main", "index": 0 }]] },
    "Generate Meeting Minutes (LLM)": { "main": [[{ "node": "Return Minutes", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Transcribes meetings with named speakers (Alice, Bob, Charlie), generates VTT with <v Alice> voice tags, then uses LLM to produce structured meeting minutes with attendees, action items, and decisions.", "templateCredsSetupCompleted": true },
  "tags": [{ "name": "transcription" }, { "name": "speaker-names" }, { "name": "meeting-minutes" }, { "name": "llm" }]
}