workflows/multi-language.json
{
  "name": "Multi-Language Transcribe and Translate",
  "nodes": [
    {
      "parameters": { "content": "## Multi-Language Transcribe & Translate\n\nUpload audio via webhook, auto-detect language, transcribe, and translate non-English content to English using an LLM.\n\n**Setup:**\n1. Set `TRANSCRIPTION_API_URL` env var (default: https://transcript.fluximetry.com)\n2. Configure LLM credentials (OpenAI, Ollama, or Anthropic)\n3. POST a file to the webhook URL", "color": 4, "width": 350, "height": 200 },
      "id": "note-overview", "name": "Overview", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [250, 100]
    },
    {
      "parameters": { "content": "## Polling Loop\n\nPolls every 5s, max 120 attempts (10 min timeout).\nChecks for completed, failed, or cancelled status.", "color": 6, "width": 300, "height": 120 },
      "id": "note-poll", "name": "Poll Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [710, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "translate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Receive Audio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "medium" },
            { "name": "language", "value": "auto" }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": { "timeout": 30000, "batching": { "batch": { "batchSize": 1 } } }
      },
      "id": "transcribe",
      "name": "Transcribe (Auto-Detect Language)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 350],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": false
    },
    {
      "parameters": {
        "values": { "number": [{ "name": "pollCount", "value": 0 }], "string": [{ "name": "jobId", "value": "={{ $json.jobs?.[0]?.job_id || '' }}" }] },
        "options": {}
      },
      "id": "init-poll", "name": "Init Poll Counter", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [710, 350]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $json.jobId }}",
        "options": { "timeout": 10000 }
      },
      "id": "poll",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 350],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "completed", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "check-complete", "name": "Completed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1170, 350]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "failed", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "check-failed", "name": "Failed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1170, 600]
    },
    {
      "parameters": {
        "values": {
          "number": [{ "name": "pollCount", "value": "={{ ($('Init Poll Counter').item.json.pollCount || $json.pollCount || 0) + 1 }}" }],
          "string": [{ "name": "jobId", "value": "={{ $('Init Poll Counter').item.json.jobId || $json.jobId }}" }]
        },
        "options": {}
      },
      "id": "inc-poll", "name": "Increment Counter", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1400, 600]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.pollCount }}", "rightValue": 120, "operator": { "type": "number", "operation": "lt" } }
          ]
        }
      },
      "id": "check-timeout", "name": "Under Limit?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1630, 600]
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "wait", "name": "Wait 5s", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1860, 550]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $('Init Poll Counter').item.json.jobId }}/files/{{ $('Check Status').item.json.output_files?.[0]?.name || 'output.json' }}",
        "options": { "timeout": 30000 }
      },
      "id": "download-json",
      "name": "Download JSON Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 350],
      "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.language }}", "rightValue": "en", "operator": { "type": "string", "operation": "notEquals" } }]
        }
      },
      "id": "is-foreign",
      "name": "Non-English?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1630, 350]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            { "content": "Translate the following transcript to English. Preserve speaker labels and timestamps if present. Return only the translation." },
            { "content": "=Language detected: {{ $json.language }}\n\nTranscript:\n{{ $json.text }}" }
          ]
        },
        "options": {}
      },
      "id": "translate",
      "name": "Translate to English (LLM)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1860, 250],
      "notes": "Uses LLM for high-quality translation. Configure credentials in n8n."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ language: $('Download JSON Result').item.json.language, original: $('Download JSON Result').item.json.text.substring(0, 500), translated: $json.text || $('Download JSON Result').item.json.text, was_translated: $('Download JSON Result').item.json.language !== 'en' }) }}"
      },
      "id": "respond",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2090, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Transcription failed or timed out' }) }}",
        "options": { "responseCode": 500 }
      },
      "id": "respond-error", "name": "Respond Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1860, 750]
    }
  ],
  "connections": {
    "Receive Audio": { "main": [[{ "node": "Transcribe (Auto-Detect Language)", "type": "main", "index": 0 }]] },
    "Transcribe (Auto-Detect Language)": { "main": [[{ "node": "Init Poll Counter", "type": "main", "index": 0 }]] },
    "Init Poll Counter": { "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]] },
    "Check Status": { "main": [[{ "node": "Completed?", "type": "main", "index": 0 }]] },
    "Completed?": {
      "main": [
        [{ "node": "Download JSON Result", "type": "main", "index": 0 }],
        [{ "node": "Failed?", "type": "main", "index": 0 }]
      ]
    },
    "Failed?": {
      "main": [
        [{ "node": "Respond Error", "type": "main", "index": 0 }],
        [{ "node": "Increment Counter", "type": "main", "index": 0 }]
      ]
    },
    "Increment Counter": { "main": [[{ "node": "Under Limit?", "type": "main", "index": 0 }]] },
    "Under Limit?": {
      "main": [
        [{ "node": "Wait 5s", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Wait 5s": { "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]] },
    "Download JSON Result": { "main": [[{ "node": "Non-English?", "type": "main", "index": 0 }]] },
    "Non-English?": { "main": [[{ "node": "Translate to English (LLM)", "type": "main", "index": 0 }], [{ "node": "Return Result", "type": "main", "index": 0 }]] },
    "Translate to English (LLM)": { "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Auto-detects language, transcribes audio, and translates non-English content to English using an LLM. Includes polling timeout (10 min max), retry logic, and error responses.",
    "templateCredsSetupCompleted": true
  },
  "tags": [{ "name": "transcription" }, { "name": "translation" }, { "name": "multi-language" }]
}
