workflows/transcribe-and-email.json
{
  "name": "Transcribe and Email",
  "nodes": [
    {
      "parameters": { "content": "## Transcribe & Email\n\nUpload an audio/video file via webhook, transcribe it, and email the WebVTT result.\n\n**Setup:**\n1. Set `TRANSCRIPTION_API_URL` env var (default: https://transcript.fluximetry.com)\n2. Configure SMTP credentials on the Email node\n3. POST a file to the webhook URL with `email` in the form body", "color": 4, "width": 350, "height": 200 },
      "id": "note-overview", "name": "Overview", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [250, 100]
    },
    {
      "parameters": { "content": "## Polling Loop\n\nPolls every 5s, max 120 attempts (10 min timeout).\nChecks for completed, failed, or cancelled status.", "color": 6, "width": 300, "height": 120 },
      "id": "note-poll", "name": "Poll Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [710, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [250, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "={{ $json.body?.model || 'small' }}" },
            { "name": "language", "value": "={{ $json.body?.language || 'auto' }}" },
            { "name": "speaker_diarization", "value": "true" }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": { "timeout": 30000, "batching": { "batch": { "batchSize": 1 } } }
      },
      "id": "upload-file", "name": "Upload to Transcription API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [480, 350],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": false
    },
    {
      "parameters": {
        "values": { "number": [{ "name": "pollCount", "value": 0 }], "string": [{ "name": "jobId", "value": "={{ $json.jobs?.[0]?.job_id || '' }}" }] },
        "options": {}
      },
      "id": "init-poll", "name": "Init Poll Counter", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [710, 350]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $json.jobId }}",
        "options": { "timeout": 10000 }
      },
      "id": "poll-status", "name": "Check Job Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [940, 350],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "completed", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "check-complete", "name": "Completed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1170, 350]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "failed", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "check-failed", "name": "Failed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1170, 600]
    },
    {
      "parameters": {
        "values": {
          "number": [{ "name": "pollCount", "value": "={{ ($('Init Poll Counter').item.json.pollCount || $json.pollCount || 0) + 1 }}" }],
          "string": [{ "name": "jobId", "value": "={{ $('Init Poll Counter').item.json.jobId || $json.jobId }}" }]
        },
        "options": {}
      },
      "id": "inc-poll", "name": "Increment Counter", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1400, 600]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.pollCount }}", "rightValue": 120, "operator": { "type": "number", "operation": "lt" } }
          ]
        }
      },
      "id": "check-timeout", "name": "Under Limit?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1630, 600]
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "wait", "name": "Wait 5s", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1860, 550]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $('Init Poll Counter').item.json.jobId }}/files/{{ $('Check Job Status').item.json.output_files?.[0]?.name || 'output.vtt' }}",
        "options": { "timeout": 30000, "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "download-vtt", "name": "Download VTT", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1400, 350],
      "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook Trigger').item.json.body?.email || '' }}",
        "subject": "Transcription Complete: {{ $('Webhook Trigger').item.json.body?.filename || 'your file' }}",
        "message": "Your transcription is ready. The WebVTT file is attached below.\n\n{{ $json.data }}",
        "options": { "appendAttribution": false }
      },
      "id": "send-email", "name": "Email Results", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1630, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'sent', email: $('Webhook Trigger').item.json.body?.email }) }}"
      },
      "id": "respond-ok", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1860, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Transcription failed or timed out' }) }}",
        "options": { "responseCode": 500 }
      },
      "id": "respond-error", "name": "Respond Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1860, 750]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Upload to Transcription API", "type": "main", "index": 0 }]] },
    "Upload to Transcription API": { "main": [[{ "node": "Init Poll Counter", "type": "main", "index": 0 }]] },
    "Init Poll Counter": { "main": [[{ "node": "Check Job Status", "type": "main", "index": 0 }]] },
    "Check Job Status": { "main": [[{ "node": "Completed?", "type": "main", "index": 0 }]] },
    "Completed?": {
      "main": [
        [{ "node": "Download VTT", "type": "main", "index": 0 }],
        [{ "node": "Failed?", "type": "main", "index": 0 }]
      ]
    },
    "Failed?": {
      "main": [
        [{ "node": "Respond Error", "type": "main", "index": 0 }],
        [{ "node": "Increment Counter", "type": "main", "index": 0 }]
      ]
    },
    "Increment Counter": { "main": [[{ "node": "Under Limit?", "type": "main", "index": 0 }]] },
    "Under Limit?": {
      "main": [
        [{ "node": "Wait 5s", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Wait 5s": { "main": [[{ "node": "Check Job Status", "type": "main", "index": 0 }]] },
    "Download VTT": { "main": [[{ "node": "Email Results", "type": "main", "index": 0 }]] },
    "Email Results": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Receives a file via webhook, transcribes it with speaker detection, and emails the WebVTT result. Includes polling timeout (10 min max), retry logic, and error responses.",
    "templateCredsSetupCompleted": true
  },
  "tags": [{ "name": "transcription" }, { "name": "email" }]
}
