workflows/transcribe-and-email.json
{
  "name": "Transcribe and Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://transcript.fluximetry.com/api/v1/jobs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "small" },
            { "name": "language", "value": "auto" },
            { "name": "speaker_diarization", "value": "true" }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "upload-file",
      "name": "Upload to Transcription API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "=https://transcript.fluximetry.com/api/v1/jobs/{{ $json.jobs[0].job_id }}",
        "options": {}
      },
      "id": "poll-status",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-complete",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [940, 500]
    },
    {
      "parameters": {
        "url": "=https://transcript.fluximetry.com/api/v1/jobs/{{ $json.id }}/files/{{ $json.output_files[0].name }}",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "download-vtt",
      "name": "Download VTT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1170, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook Trigger').item.json.body.email }}",
        "subject": "Transcription Complete: {{ $('Webhook Trigger').item.json.body.filename }}",
        "message": "Your transcription is ready.\n\nThe VTT file is attached.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Email Results",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"sent\", \"email\": \"{{ $('Webhook Trigger').item.json.body.email }}\" }"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1630, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Upload to Transcription API", "type": "main", "index": 0 }]] },
    "Upload to Transcription API": { "main": [[{ "node": "Check Job Status", "type": "main", "index": 0 }]] },
    "Check Job Status": { "main": [[{ "node": "Is Complete?", "type": "main", "index": 0 }]] },
    "Is Complete?": {
      "main": [
        [{ "node": "Download VTT", "type": "main", "index": 0 }],
        [{ "node": "Wait 5s", "type": "main", "index": 0 }]
      ]
    },
    "Wait 5s": { "main": [[{ "node": "Check Job Status", "type": "main", "index": 0 }]] },
    "Download VTT": { "main": [[{ "node": "Email Results", "type": "main", "index": 0 }]] },
    "Email Results": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Receives a file via webhook, transcribes it using the Local Transcription API, and emails the WebVTT result to the specified address.",
    "templateCredsSetupCompleted": true
  },
  "tags": [{ "name": "transcription" }, { "name": "email" }]
}
