workflows/watch-folder.json
{
  "name": "Watch Folder - Auto Transcribe",
  "nodes": [
    {
      "parameters": { "content": "## Watch Folder - Auto Transcribe\n\nPolls `/data/inbox` every 5 minutes for new media files, transcribes them with speaker detection, saves VTT output, and moves processed files to prevent re-processing.\n\n**Setup:**\n1. Set `TRANSCRIPTION_API_URL` env var (default: https://transcript.fluximetry.com)\n2. Update `/data/inbox` and `/data/transcripts` paths to match your environment\n3. Supported formats: mp4, mp3, wav, m4a, flac, ogg, mkv, avi, mov, webm", "color": 4, "width": 350, "height": 220 },
      "id": "note-overview", "name": "Overview", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [250, 80]
    },
    {
      "parameters": { "content": "## Polling Loop\n\nPolls every 5s, max 120 attempts (10 min timeout).\nChecks for completed, failed, or cancelled status.", "color": 6, "width": 300, "height": 120 },
      "id": "note-poll", "name": "Poll Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [1400, 80]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] }
      },
      "id": "schedule",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 350]
    },
    {
      "parameters": {
        "operation": "list",
        "path": "/data/inbox",
        "options": { "recursive": false }
      },
      "id": "list-files",
      "name": "List Inbox Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [480, 350],
      "notes": "Change /data/inbox to your watched folder path"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "\\.(mp4|mp3|wav|m4a|flac|ogg|mkv|avi|mov|webm)$",
              "operator": { "type": "string", "operation": "regex" }
            }
          ]
        }
      },
      "id": "filter-media",
      "name": "Filter Media Files",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [710, 350]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "={{ $json.path }}",
        "options": {}
      },
      "id": "read-file",
      "name": "Read File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [940, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "small" },
            { "name": "speaker_diarization", "value": "true" }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": { "timeout": 30000, "batching": { "batch": { "batchSize": 1 } } }
      },
      "id": "upload",
      "name": "Upload to Transcription API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1170, 350],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": false
    },
    {
      "parameters": {
        "values": { "number": [{ "name": "pollCount", "value": 0 }], "string": [{ "name": "jobId", "value": "={{ $json.jobs?.[0]?.job_id || '' }}" }] },
        "options": {}
      },
      "id": "init-poll", "name": "Init Poll Counter", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1400, 350]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $json.jobId }}",
        "options": { "timeout": 10000 }
      },
      "id": "poll",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1630, 350],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "completed", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "is-done",
      "name": "Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1860, 350]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "failed", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "check-failed", "name": "Failed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1860, 600]
    },
    {
      "parameters": {
        "values": {
          "number": [{ "name": "pollCount", "value": "={{ ($('Init Poll Counter').item.json.pollCount || $json.pollCount || 0) + 1 }}" }],
          "string": [{ "name": "jobId", "value": "={{ $('Init Poll Counter').item.json.jobId || $json.jobId }}" }]
        },
        "options": {}
      },
      "id": "inc-poll", "name": "Increment Counter", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [2090, 600]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.pollCount }}", "rightValue": 120, "operator": { "type": "number", "operation": "lt" } }
          ]
        }
      },
      "id": "check-timeout", "name": "Under Limit?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [2320, 600]
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "wait",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2550, 550]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $('Init Poll Counter').item.json.jobId }}/files/{{ $('Check Status').item.json.output_files?.[0]?.name || 'output.vtt' }}",
        "options": { "timeout": 30000, "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "download",
      "name": "Download VTT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2090, 350],
      "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "operation": "write",
        "filePath": "=/data/transcripts/{{ $('Read File').item.json.fileName }}.vtt",
        "options": {}
      },
      "id": "save",
      "name": "Save to Transcripts Folder",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [2320, 350],
      "notes": "Change /data/transcripts to your output folder"
    },
    {
      "parameters": {
        "operation": "rename",
        "oldPath": "={{ $('Read File').item.json.path }}",
        "newPath": "={{ $('Read File').item.json.path }}.done",
        "options": {}
      },
      "id": "move-processed",
      "name": "Move to Processed",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [2550, 350],
      "notes": "Appends .done to the source file to prevent re-processing on next poll"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "status", "value": "error" },
            { "name": "message", "value": "Transcription failed or timed out" }
          ]
        },
        "options": {}
      },
      "id": "error-output",
      "name": "Error Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2550, 750]
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "List Inbox Files", "type": "main", "index": 0 }]] },
    "List Inbox Files": { "main": [[{ "node": "Filter Media Files", "type": "main", "index": 0 }]] },
    "Filter Media Files": { "main": [[{ "node": "Read File", "type": "main", "index": 0 }], []] },
    "Read File": { "main": [[{ "node": "Upload to Transcription API", "type": "main", "index": 0 }]] },
    "Upload to Transcription API": { "main": [[{ "node": "Init Poll Counter", "type": "main", "index": 0 }]] },
    "Init Poll Counter": { "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]] },
    "Check Status": { "main": [[{ "node": "Completed?", "type": "main", "index": 0 }]] },
    "Completed?": {
      "main": [
        [{ "node": "Download VTT", "type": "main", "index": 0 }],
        [{ "node": "Failed?", "type": "main", "index": 0 }]
      ]
    },
    "Failed?": {
      "main": [
        [{ "node": "Error Output", "type": "main", "index": 0 }],
        [{ "node": "Increment Counter", "type": "main", "index": 0 }]
      ]
    },
    "Increment Counter": { "main": [[{ "node": "Under Limit?", "type": "main", "index": 0 }]] },
    "Under Limit?": {
      "main": [
        [{ "node": "Wait 5s", "type": "main", "index": 0 }],
        [{ "node": "Error Output", "type": "main", "index": 0 }]
      ]
    },
    "Wait 5s": { "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]] },
    "Download VTT": { "main": [[{ "node": "Save to Transcripts Folder", "type": "main", "index": 0 }]] },
    "Save to Transcripts Folder": { "main": [[{ "node": "Move to Processed", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Monitors a folder every 5 minutes for new media files, automatically transcribes them with speaker detection, and saves VTT output. Includes polling timeout (10 min max), retry logic, failed job detection, and moves processed files to prevent re-processing.",
    "templateCredsSetupCompleted": true
  },
  "tags": [{ "name": "transcription" }, { "name": "automation" }]
}
