workflows/webhook-pipeline.json
{
  "name": "Webhook Transcription Pipeline",
  "nodes": [
    {
      "parameters": { "content": "## Webhook Transcription Pipeline\n\nReceives files via webhook, transcribes them, and either returns results directly or POSTs them to a callback URL.\n\n**Setup:**\n1. Set `TRANSCRIPTION_API_URL` env var (default: https://transcript.fluximetry.com)\n2. POST a file to `/webhook/transcribe`\n3. Include `callback_url` in form data to receive results via POST\n4. Supports custom `model`, `language`, and `speaker_diarization` options", "color": 4, "width": 370, "height": 230 },
      "id": "note-overview", "name": "Overview", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [250, 60]
    },
    {
      "parameters": { "content": "## Polling Loop\n\nPolls every 5s, max 120 attempts (10 min timeout).\nChecks for completed, failed, or cancelled status.", "color": 6, "width": 300, "height": 120 },
      "id": "note-poll", "name": "Poll Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [710, 60]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Receive File",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 350],
      "notes": "POST a file to /webhook/transcribe. Include callback_url in form data to receive results."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "={{ $json.body?.model || 'small' }}" },
            { "name": "language", "value": "={{ $json.body?.language || 'auto' }}" },
            { "name": "speaker_diarization", "value": "={{ $json.body?.speaker_diarization || 'true' }}" }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": { "timeout": 30000, "batching": { "batch": { "batchSize": 1 } } }
      },
      "id": "upload",
      "name": "Submit to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 350],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": false
    },
    {
      "parameters": {
        "values": { "number": [{ "name": "pollCount", "value": 0 }], "string": [{ "name": "jobId", "value": "={{ $json.jobs?.[0]?.job_id || '' }}" }] },
        "options": {}
      },
      "id": "init-poll", "name": "Init Poll Counter", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [710, 350]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $json.jobId }}",
        "options": { "timeout": 10000 }
      },
      "id": "poll",
      "name": "Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 350],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "completed", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "check-complete", "name": "Completed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1170, 350]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "failed", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "check-failed", "name": "Failed?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1170, 600]
    },
    {
      "parameters": {
        "values": {
          "number": [{ "name": "pollCount", "value": "={{ ($('Init Poll Counter').item.json.pollCount || $json.pollCount || 0) + 1 }}" }],
          "string": [{ "name": "jobId", "value": "={{ $('Init Poll Counter').item.json.jobId || $json.jobId }}" }]
        },
        "options": {}
      },
      "id": "inc-poll", "name": "Increment Counter", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1400, 600]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.pollCount }}", "rightValue": 120, "operator": { "type": "number", "operation": "lt" } }
          ]
        }
      },
      "id": "check-timeout", "name": "Under Limit?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1630, 600]
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "wait", "name": "Wait 5s", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1860, 550]
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $('Init Poll Counter').item.json.jobId }}/files/{{ $('Poll Status').item.json.output_files?.[0]?.name || 'output.vtt' }}",
        "options": { "timeout": 30000, "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "download-vtt",
      "name": "Download VTT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 200],
      "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "url": "={{ $env.TRANSCRIPTION_API_URL || 'https://transcript.fluximetry.com' }}/api/v1/jobs/{{ $('Init Poll Counter').item.json.jobId }}/files/{{ $('Poll Status').item.json.output_files?.find(f => f.name.endsWith('.json'))?.name || 'output.json' }}",
        "options": { "timeout": 30000 }
      },
      "id": "download-json",
      "name": "Download JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 400],
      "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "options": {}
      },
      "id": "merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1630, 350]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Receive File').item.json.body?.callback_url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "has-callback",
      "name": "Has Callback URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1860, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Receive File').item.json.body?.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "completed" },
            { "name": "vtt", "value": "={{ $('Download VTT').item.json.data }}" },
            { "name": "text", "value": "={{ $('Download JSON').item.json.text }}" },
            { "name": "language", "value": "={{ $('Download JSON').item.json.language }}" },
            { "name": "segments", "value": "={{ JSON.stringify($('Download JSON').item.json.segments) }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "callback",
      "name": "POST to Callback URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2090, 200],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'completed', message: 'Transcription complete. Results posted to callback URL.' }) }}"
      },
      "id": "respond-callback",
      "name": "Respond OK (callback)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2320, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'completed', vtt: $('Download VTT').item.json.data, text: $('Download JSON').item.json.text, language: $('Download JSON').item.json.language }) }}"
      },
      "id": "respond-direct",
      "name": "Respond OK (direct)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2090, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Transcription failed or timed out' }) }}",
        "options": { "responseCode": 500 }
      },
      "id": "respond-error", "name": "Respond Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1860, 750]
    }
  ],
  "connections": {
    "Receive File": { "main": [[{ "node": "Submit to API", "type": "main", "index": 0 }]] },
    "Submit to API": { "main": [[{ "node": "Init Poll Counter", "type": "main", "index": 0 }]] },
    "Init Poll Counter": { "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]] },
    "Poll Status": { "main": [[{ "node": "Completed?", "type": "main", "index": 0 }]] },
    "Completed?": {
      "main": [
        [{ "node": "Download VTT", "type": "main", "index": 0 }, { "node": "Download JSON", "type": "main", "index": 0 }],
        [{ "node": "Failed?", "type": "main", "index": 0 }]
      ]
    },
    "Failed?": {
      "main": [
        [{ "node": "Respond Error", "type": "main", "index": 0 }],
        [{ "node": "Increment Counter", "type": "main", "index": 0 }]
      ]
    },
    "Increment Counter": { "main": [[{ "node": "Under Limit?", "type": "main", "index": 0 }]] },
    "Under Limit?": {
      "main": [
        [{ "node": "Wait 5s", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Wait 5s": { "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]] },
    "Download VTT": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Download JSON": { "main": [[{ "node": "Merge Results", "type": "main", "index": 1 }]] },
    "Merge Results": { "main": [[{ "node": "Has Callback URL?", "type": "main", "index": 0 }]] },
    "Has Callback URL?": { "main": [[{ "node": "POST to Callback URL", "type": "main", "index": 0 }], [{ "node": "Respond OK (direct)", "type": "main", "index": 0 }]] },
    "POST to Callback URL": { "main": [[{ "node": "Respond OK (callback)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Receives files via webhook, transcribes them, and either returns results directly or POSTs them to a callback URL. Includes polling timeout (10 min max), retry logic, error responses, and supports custom model, language, and speaker detection options.",
    "templateCredsSetupCompleted": true
  },
  "tags": [{ "name": "transcription" }, { "name": "webhook" }, { "name": "pipeline" }]
}
