workflows/webhook-pipeline.json
{
  "name": "Webhook Transcription Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Receive File",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "notes": "POST a file to /webhook/transcribe. Include callback_url in form data to receive results."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://transcript.fluximetry.com/api/v1/jobs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "={{ $json.body.model || 'small' }}" },
            { "name": "language", "value": "={{ $json.body.language || 'auto' }}" },
            { "name": "speaker_diarization", "value": "={{ $json.body.speaker_diarization || 'true' }}" }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "upload",
      "name": "Submit to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "=https://transcript.fluximetry.com/api/v1/jobs/{{ $json.jobs[0].job_id }}",
        "options": {}
      },
      "id": "poll",
      "name": "Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.status }}", "rightValue": "completed", "operator": { "type": "string", "operation": "equals" } }]
        }
      },
      "id": "check",
      "name": "Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [940, 500]
    },
    {
      "parameters": {
        "url": "=https://transcript.fluximetry.com/api/v1/jobs/{{ $json.id }}/files/{{ $json.output_files[0].name }}",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "download-vtt",
      "name": "Download VTT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1170, 200]
    },
    {
      "parameters": {
        "url": "=https://transcript.fluximetry.com/api/v1/jobs/{{ $('Poll Status').item.json.id }}/files/{{ $('Poll Status').item.json.output_files.find(f => f.name.endsWith('.json')).name }}",
        "options": {}
      },
      "id": "download-json",
      "name": "Download JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1170, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "options": {}
      },
      "id": "merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Receive File').item.json.body.callback_url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "has-callback",
      "name": "Has Callback URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1630, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Receive File').item.json.body.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "completed" },
            { "name": "vtt", "value": "={{ $('Download VTT').item.json.data }}" },
            { "name": "text", "value": "={{ $('Download JSON').item.json.text }}" },
            { "name": "language", "value": "={{ $('Download JSON').item.json.language }}" },
            { "name": "segments", "value": "={{ JSON.stringify($('Download JSON').item.json.segments) }}" }
          ]
        },
        "options": {}
      },
      "id": "callback",
      "name": "POST to Callback URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "status", "value": "completed" },
            { "name": "message", "value": "Transcription complete. Results posted to callback URL." }
          ]
        },
        "options": {}
      },
      "id": "output-callback",
      "name": "Output (with callback)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2090, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "status", "value": "completed" },
            { "name": "vtt", "value": "={{ $('Download VTT').item.json.data }}" },
            { "name": "text", "value": "={{ $('Download JSON').item.json.text }}" },
            { "name": "language", "value": "={{ $('Download JSON').item.json.language }}" }
          ]
        },
        "options": {}
      },
      "id": "output-direct",
      "name": "Output (direct response)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1860, 400]
    }
  ],
  "connections": {
    "Receive File": { "main": [[{ "node": "Submit to API", "type": "main", "index": 0 }]] },
    "Submit to API": { "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]] },
    "Poll Status": { "main": [[{ "node": "Done?", "type": "main", "index": 0 }]] },
    "Done?": {
      "main": [
        [{ "node": "Download VTT", "type": "main", "index": 0 }, { "node": "Download JSON", "type": "main", "index": 0 }],
        [{ "node": "Wait", "type": "main", "index": 0 }]
      ]
    },
    "Wait": { "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]] },
    "Download VTT": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Download JSON": { "main": [[{ "node": "Merge Results", "type": "main", "index": 1 }]] },
    "Merge Results": { "main": [[{ "node": "Has Callback URL?", "type": "main", "index": 0 }]] },
    "Has Callback URL?": { "main": [[{ "node": "POST to Callback URL", "type": "main", "index": 0 }], [{ "node": "Output (direct response)", "type": "main", "index": 0 }]] },
    "POST to Callback URL": { "main": [[{ "node": "Output (with callback)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Receives files via webhook, transcribes them, and either returns results directly or POSTs them to a callback URL. Supports custom model, language, and speaker detection options." },
  "tags": [{ "name": "transcription" }, { "name": "webhook" }, { "name": "pipeline" }]
}
